* {
	border: 0px;
}

body {
	font-family: "Quicksand", sans-serif;
	font-weight: 350;
	background-color: #121213;
	height: auto;
	color: white;
}

#notContainer {
	position: absolute;
	display: none;
	left: 50%;
}

#notification {
	text-align: center;
	position: relative;
	place-content: center;
	top: 20px;
	left: -50%;
	z-index: 10;
	border-radius: 15px;
	background-color: white;
	border: 1px solid white;
	width: auto;
	padding: 10px;
	color: black;
	font-weight: bold;
}

#canvas {
	padding: 30px 0 0 0;
	width: auto;
	display: flex;
	margin: 0;
	justify-content: center;
}

.row {
	display: flex;
}

@keyframes shrink {
	50% {
		transform: rotateX(-90deg);
	}
}

@keyframes type {
	50% {
		transform: scale(1.1);
	}
}

@keyframes shake2 {
	25% {
		transform: translateX(8px);
	}

	50% {
		transform: translateX(0px);
	}

	75% {
		transform: translateX(-8px);
	}
}

@keyframes finish {
	0%,
	20% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	50% {
		transform: translateY(5px);
	}
	60% {
		transform: translateY(-15px);
	}
	80% {
		transform: translateY(2px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes del {
	50% {
		transform: scale(0.9);
	}
}

.box {
	display: flex;
	background-color: inherit;
	justify-content: center;
	line-height: 170%;
	text-align: center;
	font-size: 4vh;
	font-weight: bold;
	margin: 3px;
	border: 3px solid rgb(36, 36, 36);
	width: 7vh;
	height: 7vh;
}

.shrunk {
	animation: shrink 0.6s ease-in;
}

.types {
	animation: type 0.2s linear;
}

.del1 {
	animation: del 0.2s linear;
}

.shake1 {
	animation: shake2 0.2s linear;
}

.finish1 {
	animation: finish 1s linear;
}

#keyboard {
	margin: 0;
	margin-top: 10px;
	display: grid;
	justify-content: center;
}

.key {
	margin: 2px;
	background-color: #818384;
	width: 43px;
	height: 58px;
	border: 0px;
	border-radius: 10px;
}

.key1 {
	margin: 2px;
	background-color: #818384;
	width: auto;
	border: 0px;
	border-radius: 10px;
	height: 58px;
}

.Row {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0px;
}

.Row .key,
.Row .key1 {
	color: white;
	font-weight: bold;
}

@media only screen and (max-width: 500px) {
	#keyboard {
		width: 100%;
	}

	.key {
		width: 8.4vw;
	}

	.key1 {
		width: auto;
	}

	#leaderboard {
		max-width: 90vw;
	}
}

#leaderboard {
	min-height: 90vh;
	margin: 30px auto;
	width: 450px;
	height: auto;
	background-color: #232324;
	display: block;
}

span {
	font-size: 25px;
	font-weight: bold;
	color: white;
}

h1 {
	width: auto;
	margin: 30px auto;
	font-size: 25px;
}

h2 {
	font-size: 15px;
}

h2,
#won,
#played,
#ratio {
	margin: 0 auto;
}

.played,
.won,
.ratio,
#played,
#won,
#ratio {
	display: flex;
	justify-content: center;
	width: 33%;
}

.results,
.spanHolder {
	display: flex;
	justify-content: center;
}

.dist {
	display: flex;
	width: 100%;
}

.order {
	padding: 15px 0px 0px 50px;
	font-size: 20px;
	font-weight: bold;
}

.h1Holder {
	margin: 0 auto;
	width: 100%;
	display: flex;
}

.guess {
	margin-top: 20px;
}


#boxForTwo {
	width: 85%;
	display: flex;
	margin: 0 auto;
	padding-bottom: 10px;
}

#retry,
#share {
	text-align: center;
	place-content: center;
	line-height: 225%;
	margin: 10px;
	height: 50px;
	width: 45%;
	font-size: 20px;
	font-weight: 550;
}

#share {
	background-color: #538d4e;
}